.main {
    flex-wrap: wrap;
}

.txt {
    padding: 5px;
    width: 60%;
    float: left;
}
.main_txt {
    display: flex;
    flex-wrap: wrap;
    font-family: serif;
    text-align: justify;
}


img {
    border-radius: 20px 20px 0px 0px;
    width: 350px;
    height: 200px;

    
}

h3 {
    border-bottom: 2px solid black;
    width: 60%;
}

.pict {
    flex-wrap: wrap;
    margin: 5px;
    border-radius: 20px;
    float: left;
    background-color:rgb(75, 75, 202);
}

.pict_main {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    justify-content: flex-start;
    align-items: center;
    order: 5;
}

.desk {
    padding: 5px;
    text-align: justify;
    word-wrap: normal;
    color: rgba(255, 255, 255, 0.767);
}

.ord1 {
    order: 1;
}

.ord2 {
    order: 2;
}

.ord3 {
    order: 3;
}

@media (min-width:200px) and (max-width:760px) {
    .pict_main {
        width: 90%;
        order:1;
        align-items: flex-start;
 }
    img {
        width: 100%;
    }
    .txt {
        width: 90%;
    }
    h3 {
        width: 92%;
    }
}

@media (min-width:760px) and (max-width:950px) {
    .pict_main {
        width: 90%;
        order:1;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;

 }
    img {
        width: 100%;
    }
    .txt {
        width: 90%;
    }
    h3 {
        width: 92%;
    }
}

@media (min-width: 960px) {
    .main {
        display: inline-flex;
        flex-wrap: wrap;
    }
    .main_txt {
        height: 720px;
        flex-direction: column;
    }
    
    .pict_main {
        align-content: flex-start ;
}
