.main {
    display: flex;
    flex-wrap: wrap;
}

.txt {
    padding: 5px;
    width: 60%;
    float: left;
}
.main_txt {
    font-family: serif;
    text-align: justify;
}


img {
    border-radius: 20px 20px 0px 0px;
    width: 350px;
    height: 200px;

    
}

h3 {
    border-bottom: 2px solid black;
    width: 60%;
}

.pict {
    flex-wrap: wrap;
    margin: 5px;
    border: 1px solid black;
    border-radius: 20px;
    float: left;
    width: 350px;
    background-color:rgb(75, 75, 202);
}

.pict_main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    justify-content: flex-start;
    align-items: center;
}

.desk {
    padding: 5px;
    text-align: justify;
    word-wrap: normal;
    color: rgba(255, 255, 255, 0.767);
}


@media (min-width:320px) and (max-width:760px) {
 .none {
     display: block;
 }

 .pict_main {
     display: inline;
     float: left;
 }
 
 p#empty {
     order: 2;
 }

 div#picture {
    order: 1;
    
 }
}




