body {
    background-image: url(beach.jpg);
}

.main {
    margin: 80px 550px 0px 150px;
    border:3px solid black;
    
}

form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

h2 {
    padding-left: 30px;
}

p {
    padding-left: 30px;
}

div {
    padding-left: 30px;
    padding-bottom: 15px;
}

label span {
    width: 95px;
    text-align: left;
    display: inline-block;
}

input {
    width: 230px;
    box-sizing: border-box;
    border: 1px solid #777;
}

.email,  
.subj,
textarea {
    width: 465px;
}

.plus {
    width: 40px;
}
.nums {
    width: 420px;
}

textarea {
    vertical-align: top;
}

button[type="submit"] {
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-left: 100px;
    width: 470px;
}