.container {
    background-color: grey;
    display: flex;
    margin: 5px;
    justify-content: space-between;
}

.left {
    border: 20px solid grey;
    justify-content: left;
    flex-direction: column;
    text-align: center;
    margin-right:20px ;
}

.paragraph {
    flex-direction: row;
    justify-content: space-between;
}

p {
    text-align: center;
    border-left: 2px;
    border-right: 2px;
    text-align: justify;
}

.step_2 {
    background-color: rgb(190, 184, 184);
}

.step_3 {
    background-color: rgb(190, 184, 184);
}