.container {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    background-color:grey;
    margin-right: 1150px;
    
}

p {
    font-family: 'Times New Roman', Times, serif;
    display: inline;
}

img {
    width: 80px;
    height: 80px;
    
}

.color_curs:hover {
    background-color:rgb(87, 80, 80);
}
