h1 {
    text-align: center;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: serif;
}

.ram {
    padding: 7px;
    margin: 15px;
    width: 300px;
}

input[placeholder] {
    text-align: center;
}

.log {
    margin-bottom: 45px;
    width: 320px;
    padding: 10px;
    background-color: rgb(97, 153, 41);
}

.forgot {
    color: red;
    border: 0px;
    background-color: white;
}