.obdelnik {
    border: 3px solid black;
    width: 150px;
    height: 100px;
    background-color: yellow;
    margin: 5px;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    
}

.obdelnik:nth-child(2) {
    background-color: tomato;
}

.obdelnik:nth-child(3) {
    background-color: chartreuse;
}


.obdelnik:nth-child(4) {
    background-color: chocolate;
}

.kontejner {
    border: 2px dashed red;
    background-color: sandybrown;
    padding: 5px;
    /*
    flex-direction: column;
    justify-content: center;
    align-items: center;
    */
}

.obdelnik {
    /*
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 100px;
    */
}

.second {
  
}

.third {
   display: none;
}

.fourth {
    /*
    flex-grow: 3;
    */
}


.first {
    /*
    order: 1;
    */
}

@media (min-width:760px) {
    .kontejner {
        display: flex;
        flex-wrap: wrap;
    }
    .obdelnik {
        /*flex-basis: calc(50% - 10px); */
        flex-basis: 40%;
        flex-grow: 1; 
    }

    .third {
        display: block;
    }
}

@media (min-width:992px) {
    .obdelnik {
        flex-basis: 20%;
    }
}